@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

// Google Fonts & Variables
$font-family: 'Mulish', sans-serif;

// Color Palette
$color-dark: #111111;
$color-purple: #5c62ec;
$color-muted: #777777;
$color-border: #e0e0e0;
$color-bg: #ffffff;